{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>DoMain</title>
</head>
<body>
    <video autoplay muted loop id="bgvid">
        <source src="../media/yellow2.mp4" type="video/mp4">
    </video>
    <div class="top_navbar">
        <div class="logo"><a href="{% url 'home' %}">D<span>oMain</span></a></div>
        <ul class='subnavbar_menu'>
            <li>
                <a href="{% url 'store_main' %}">
                    <ion-icon name="cart-outline"></ion-icon>
                    Asset Store
                </a>
            </li>
            <li>
                <a>
                <ion-icon name="lock-closed-outline" viewBox="0 0 512 512"></ion-icon>
                <!--
                <ion-icon name="lock-open-outline"></ion-icon>
                -->
                Modify
                </a>
            </li>
            <li>
                <a id="user_icon">
                <ion-icon name="person-outline"></ion-icon>
                오지영님
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <ion-icon name="log-out-outline"></ion-icon>
                    Logout
                </a>
            </li>
            <li><a href="{% url 'landingPage' %}"><button>Help</button></a></li>
        </ul>
    </div>

    <div id="body-pd">
        <div class="r-navbar" id="navbar">
            <nav class="nav">
                <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav__logo">DoMain</a>
                </div>
                <div class="nav__list">
                    <a href="#" class="nav__link active">
                        <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Download Widget</span>
                    </a>
                    <a href="#" class="nav__link">
                        <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Layout List</span>
                    </a>

                    <a href="#" class="nav__link">
                        <ion-icon name="color-palette-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Custom Layout</span>
                    </a>

                    <a href="#" class="nav__link">
                        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                        <label for="ex_file"><span class="nav_name">Change Wallpaper</span></label>
                        <input type="file" id="ex_file">
                    </a>
                </div>
            </div>
            </nav>
        </div>
    </div>
        <!-- IONICONS -->
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <!-- JS -->
        <script src="{% static 'js/modals.js' %}"></script>

    </div>
</body>
</html>