{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <!-- Widget related style sheet -->
    <link rel="stylesheet" href="{% static 'css/widget-static-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/widget-modal.css' %}">
    </link>
    <link rel="stylesheet" href="{% static 'css/customPage.css' %}">
    </link>

    <!-- IONICONS -->
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    <!-- Widget related script files -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{% static 'finance/finance-element.js' %}"></script>
    <script src="{% static 'finance/finance.js' %}"></script>
    <script src="{% static 'stickynote/stickynote-element.js' %}"></script>
    <script src="{% static 'stickynote/stickynote.js' %}"></script>
    <script src="{% static 'searching/searching-element.js' %}"></script>
    <script src="{% static 'searching/searching.js' %}"></script>
    <script src="{% static 'github/github-element.js' %}"></script>
    <script src="{% static 'github/github.js' %}"></script>

    <script src="{% static 'dday/dday-element.js' %}"></script>
    <script src="{% static 'dday/dday.js' %}"></script>
    <script src="{% static 'timer/timer-element.js' %}"></script>
    <script src="{% static 'timer/timer.js' %}"></script>
    <script src="{% static 'timer2/timer2-element.js' %}"></script>
    <script src="{% static 'timer2/timer2.js' %}"></script>
    <script src="{% static 'book/book-element.js' %}"></script>
    <script src="{% static 'book/book.js' %}"></script>
    <script src="{% static 'js/widget-lock.js' %}"></script>
    <script src="{% static 'js/widget-contents-data.js' %}"></script>
    <script src="{% static 'js/widget-append.js' %}"></script>

    <!-- Server Request script files -->
    <script src="{% static 'js/dragCommon.js' %}"></script>
    <script src="{% static 'js/dragAndDrop.js' %}"></script>
    <script src="{% static 'js/layout-server.js' %}"></script>
    <script src="{% static 'js/update-request.js' %}"></script>
    
    <!-- Widget Delete and Modify Modal -->
    <script src="{% static 'js/widget-delete.js' %}"></script>
    <script src="{% static 'js/widget-contents-modal.js' %}"></script>

    <!-- Device Checker -->
    <script src="{% static 'js/device-checker.js' %}"></script>

    <script type = "text/javascript">
        $(document).ready(function(){

        $('#finance-tab-button .cont button').on('click', function(){
            $("#finance-tab-button .cont button").clone().appendTo("body");
        });

        $('#dday-tab-button .cont button').on('click', function(){
            $("#dday-tab-button .cont button").clone().appendTo("body");
        });

        $('#searchbar-tab-button .cont button').on('click', function(){
            $("#searchbar-tab-button .cont button").clone().appendTo("body");
        });

        $('#sticky-tab-button .cont button').on('click', function(){
            $("#sticky-tab-button .cont button").clone().appendTo("body");
        });

        $('#todolist-tab-button .cont button').on('click', function(){
            $("#todolist-tab-button .cont button").clone().appendTo("body");
        });
    });
      
    </script>
  
    <title>DoMain</title>

</head>

<body>

    <div class="top_navbar">
        <div class="logo"><a href="{% url 'home' %}">Do<span>Main</span></a></div>
        <ul class='subnavbar_menu'>
            <li>
                <a href="{% url 'store_main' %}">
                    <ion-icon name="cart-outline"></ion-icon>
                    Store
                </a>
            </li>

            <li onclick="widgetLockToggle()">
                <a>
                    <ion-icon class="lock-icon" name="lock-closed-outline" viewBox="0 0 512 512"></ion-icon>
                    <ion-icon class="unlock-icon" name="lock-open-outline" style="display: none;"></ion-icon>
                    <span class="lock-text">Unlock</span>
                    <span class="unlock-text" style="display: none;">Lock</span>
                </a>
            </li>

            <li>
                <a id="user_icon" href="/store/mypage/">
                    <ion-icon name="person-outline"></ion-icon>
                    {{user}}님
                </a>
            </li>

            <li>
                <a href="{% url 'logout' %}">
                    <ion-icon name="log-out-outline"></ion-icon>
                    Logout
                </a>
            </li>

            <li><a href="{% url 'landingPage' %}"><button>Help</button></a></li>
        </ul>
    </div>

    <div id="body-pd">

        <div class="r-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>

                    </div>
                    <div class="nav__list">
                        <a href="#" class="nav__link active" id="assetstore-btn" onclick="modalOn()">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Download Widget</span>
                        </a>
                        <a href="#" class="nav__link" id="download-layout", onclick="layoutModalOn()">
                            <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Layout List</span>
                        </a>

                        <a href="#" class="nav__link" onclick="preparePageNoti()">
                            <ion-icon name="color-palette-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Custom Layout</span>
            
                        </a>

                        <a href="#" class="nav__link">
                            <label for="ex_file">
                                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                                <span class="nav_name">Change Wallpaper</span>
                            </label>

                            <form method="POST" action = "{% url 'home' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="ex_file" name="image" onchange="form.submit()">
                            </form>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="backimg">
        <img src = {{wallpaper.image.url}}>
    </div>

        <!-- vertical bar-->

        <div id="modal">
            <div class="modal-window" style = "background-color: rgba(250, 203, 144, 0.5); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;">
                <div class="title">
                    <h2 style="display: flex; justify-content: center;"> </h2>
                </div>

                <!-- modal Tab -->
                <div class="modal-tab" style="display: inline;">
                    <ul class="list">
                        <li id="searchbar-tab-button">
                            <button class="btn">서치바</button>
                            <div class="cont">
                                {% for widget in download_widget %}
                                    {% if widget.widget_type == "simple_widget_search_bar" %}
                                    <div onclick="widgetAppend('{{widget.seq}}')">
                                        <input type="hidden" value="{{widget.data}}">
                                        <img src="{{widget.image.url}}">
                                        
                                    </div>
                                    
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        <li id="sticky-tab-button">
                            <button class="btn">메모</button>
                            <div class="cont">
                                {% for widget in download_widget %}
                                    {% if widget.widget_type == "simple_widget_note" %}
                                    <div onclick="widgetAppend('{{widget.seq}}')">
                                        <input type="hidden" value="{{widget.data}}">
                                        <img src="{{widget.image.url}}">
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </li>
                        <li id="timer-tab-button">
                            <button class="btn">타이머</button>
                            <div class="cont">
                                {% for widget in download_widget %}
                                    {% if widget.widget_type == "simple_widget_timer" %}
                                    <div onclick="widgetAppend('{{widget.seq}}')">
                                        <input type="hidden" value="{{widget.data}}">
                                        <img src="{{widget.image.url}}">
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>

                        <li id="dday-tab-button">
                            <button class="btn"> 디데이</button>
                            <div class="cont">
                                {% for widget in download_widget %}
                                    {% if widget.widget_type == "simple_widget_d_day" %}
                                    <div onclick="widgetAppend('{{widget.seq}}')">
                                        <input type="hidden" value="{{widget.data}}">
                                        <img src="{{widget.image.url}}">
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>

                        <li id="weather-tab-button">
                            <button class="btn" onclick="alert('서비스 준비중입니다')"> 날씨 </button>
                            <div class="cont">
                                
                            </div>
                        </li>

                        <li id="bookmark-tab-button">
                            <button class="btn" onclick="alert('서비스 준비중입니다')"> 북마크 </button>
                            <div class="cont">
                                
                            </div>
                        </li>
                    </ul>

                </div>
                
                <button id = "modal-off-btn" onclick="modalOff()"> 닫기 </button>
               
            </div>
            
        </div>

        <div id="modal">
            <div class="layout-modal-window" style = "background-color: rgba(250, 203, 144, 0.5); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;">
                <div class="layout-modal-tab" style="display: inline;">
                    {% for layout in download_layout %}
                        <div onclick="location.href='apply-layout/{{layout.seq}}/'">
                            <img src="{{layout.image.url}}">
                        </div>
                
                    {% endfor %}
                </div>
                <button id = "modal-off-btn" onclick="layoutModalOff()"> 닫기 </button> 
            </div>
        </div>                   

 <div class="main-board" style = "z-index: -5;"></div>

</body>


<!-- JS -->
<script src="{% static 'js/modals.js' %}"></script>

<div class="modal-full-bg"></div>
<div class="widget-modify-modal">
    <div class="widget-modal-top">
         <label for="modal" class="close" onclick="widgetModalOff()">X</label>
        <div class = "widget-modal-title">위젯 내용 수정하기</div>
    </div>
    <div class="widget-modal-body">
    </div>
    <div class="widget-modal-btn center">
        <div class="widget-modal-modify-btn">수정</div>
    </div>
</div>

</html>

<style>
    .cont div {
        display: inline-block;
        margin: 10px;
        cursor: pointer;    
    }

    .cont div img {
        width: 60px;
        border-radius: 30px;
    }
</style>
