{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mainbar.css' %}" />
    <!-- Widget related style sheet -->
    <link rel="stylesheet" href="{% static 'css/widget-static-style.css' %}"></link>
    <!-- Widget related script files -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{% static 'finance/finance-element.js' %}"></script>
    <script src="{% static 'finance/finance.js' %}"></script>
    <script src="{% static 'stickynote/stickynote-element.js' %}"></script>
    <script src="{% static 'stickynote/stickynote.js' %}"></script>
    <script src="{% static 'searching/searching-element.js' %}"></script>
    <script src="{% static 'searching/searching.js' %}"></script>
    <script src="{% static 'dday/dday-element.js' %}"></script>
    <script src="{% static 'dday/dday.js' %}"></script>
    <script src="{% static 'timer/timer-element.js' %}"></script>
    <script src="{% static 'timer/timer.js' %}"></script>

    <!-- Server Request script files -->
    <script src="{% static 'js/layout-server.js' %}"></script>
    <script src="{% static 'js/update-request.js' %}"></script>

    <title>DoMain</title>

</head>

<body>
    <video autoplay muted loop id="bgvid">
        <source src="../media/yellow2.mp4" type="video/mp4">

    </video>
    <div class="top_navbar">
        <div class="logo"><a href="{% url 'home' %}">D<span>oMain</span></a></div>

        <div class="unlogin_navbar">
            <ul class='subnavbar_menu'>
                <li><a href="{% url 'login_view' %}">SignIn</a></li>
                <li><a href="{% url 'join_view' %}">SignUp</a></li>
            </ul>
        </div>
        

        <ul class='subnavbar_menu'>
            <li><a href="{% url 'login_view' %}">SignIn</a></li>
            <li><a href="{% url 'join_view' %}">SignUp</a></li>
            <li><a href="{% url 'landingPage' %}"><button>Help</button></a></li>
        </ul>
    </div>

    <div id="body-pd">

        <div class="r-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                        <a href="#" class="nav__logo">DoMain</a>
                    </div>
                    <div class="nav__list">
                        <a href="#" class="nav__link active" id="assetstore-btn" onclick="verticalBarOn()">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Download Widget</span>
                        </a>
                        <a href="#" class="nav__link">
                            <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Layout List</span>
                        </a>

                        <div href="#" class="nav__link">
                            <ion-icon name="color-palette-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Custom Layout</span>
                        </div>

                        <div href="#" class="nav__link" >
                            <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                            <label for="ex_file"><span class="nav_name">Change Wallpaper</span></label>
                            <input type="color" class="mainBGcolor" onchange="updateBGcolor()" id="ex_file" accept="img/*">
                        </div>


                        <div href="#" class="nav__link collapse">
                            <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Projects</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link" id="collapse__link"></ion-icon>
                            <ul class="collapse__menu" id="collapse__menu">
                                <a href="#" class="collapse__sublink">Data</a>
                                <a href="#" class="collapse__sublink">Group</a>
                                <a href="#" class="collapse__sublink">Members</a>
</div>
</div>
</nav>
</div>



</div>

<!-- vertical bar-->
<div class="tabmenu" >
    <ul style = "display: none;" id = "verticalbar-tab">
        <li id="tab1" class="btnCon" class="btn first"  text-align="center" style = "background-color: #ffffff;">
            <div class="tabCon" id = "widget-tab" 
            >

                
                <div class="asset-content" style="width: 400px; margin: 0 20% 0 0;" >

                    <img align="absmiddle" src="{% static 'img/App 21.png' %}">
                    <img align="absmiddle" src="{% static 'img/App 22.png' %}">
                    <img align="absmiddle" src="{% static 'img/App 24.png' %}">

                    <br />
                    Calendar
                    <br />

                    <img align="absmiddle" src="{% static 'img/image 13.png' %}">
                    <img align="absmiddle" src="{% static 'img/image 14.png' %}">

                    </br>
                    Searchbar

                    <img align="absmiddle" src="{% static 'img/Group 10.png' %}">
                    <img align="absmiddle" src="{% static 'img/Group 12.png' %}">
                </div>
            </div>
        </li>

    </ul>
</div>



<!-- <div class="asset_box">
    <div class="asset_box_title"> <p>widget</p></div>
    <div class="asset-content">
        <img align="absmiddle" src="{% static 'img/App 21.png' %}">
        <img align="absmiddle" src="{% static 'img/App 22.png' %}">
        <img align="absmiddle" src="{% static 'img/App 24.png' %}">
    </div>
</div> -->

<div class="main-board"></div>

</body>

<!— IONICONS —>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<!— JS —>
<script src="{% static 'js/modals.js' %}"></script>

</html>