asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
Django==2.2
idna==3.2
Pillow==8.3.1
pytz==2021.1
requests==2.26.0
selenium==3.141.0
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
webdriver-manager==3.4.2
