{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/join.css' %}">
  <title>DoMain-join</title>
</head>
<form action="{% url 'join_action' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <input class="signup-input" type="text" name="user_name" placeholder="이름 입력">
  </div>
  <div>
    <input type="text" name="user_email" placeholder="이메일 주소">
  </div>
  <div>
    <input type="password" name="user_pwd" placeholder="비밀번호">
  </div>
  <div>
    <input type="password" name="user_pwd_check" placeholder="비밀번호 확인">
  </div>
  <button type="submit">signup</button>
</form>
</html>