{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/join.css' %}">
  <script src="{% static 'js/join.js' %}"></script>
  <title>DoMain-join</title>
</head>

<div class = "container">
  <form action="{% url 'join_action' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="user_name" placeholder="이름 입력"><br><br>
    <input id="user_email" type="text" name="user_email" placeholder="이메일 주소"><br><br>
    <input id="user_pwd" type="password" name="user_pwd" placeholder="비밀번호"><br><br>
    <input id="user_pwd_check" type="password" name="user_pwd_check" placeholder="비밀번호 확인">
    <br><br>
    <input class="join-submit" id="joinBtn" type="submit" value="join">
  </form>
</div>

</html>