{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>DoMain-login</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=DM+Serif+Display&display=swap" rel="stylesheet">

</head>

<body>
  <div class="back-ground-shape">
    <img src="{% static 'image/tri.svg' %}" class="tri">
    <img src="{% static 'image/cir.svg' %}" class="cir">
  </div>
  <!-- {% comment %} <div class="container">
    <form method = "POST" action= "../loginAction/">
      {% csrf_token %}
      <input type="text" placeholder="e-mail" name="email"><br><br>
      <input type="password" placeholder="password" name="raw_pw"><br><br><br>
      <input class="login-submit" type="submit" value="login">
    </form> {% endcomment %} -->

  <!-- 흰색 박스와 초록 박스 -->
  <div style="margin-top:4%;position:relative;"></div>
    <div class="box">
      <!-- 흰색 박스 -->
      <div class="white-box">
        <!-- 흰색 sign in -->
        <div class="white-sign-in">
          <br><br><br><br><br>
          <div class="bold-title">Sign in to DoMain</div>
          <div class="text" style="color:black;">welcome to DoMain</div><br><br>
          <!-- input부분 -->
          <div class="input-group">
            <input type="text" placeholder="EMAIL" name="email"><br>
            <input type="text" placeholder="PASSWORD" name="password"><br><br>
          </div>
          <!-- input위의 아이콘 -->
          <div class="icon-group">
            <img src="{% static 'image/user.svg' %}" class="icon"><br>

            <img src="{% static 'image/mail.svg' %}" class="icon">
          </div>
          <br>
          <!-- 패스워드 잊은 경우 line -->
          <div class="text" style="color:black;">Forgot your password?
            <br>
            <hr class="line">
          </div><br><br>
          <div style="text-align: center;border-color: #45A685;">
            <a href="#"><button id="button" type="button">SIGN IN</button></a>
          </div>
        </div>

        <!-- 흰색 sign up -->
        <div class="white-sign-up">
          <br><br><br><br><br>
          <div class="bold-title">Create Account</div>
          <div class="text" style="color:black;">welcome to DoMain</div>
          <br><br>
          <!-- input부분 -->
          <div class="input-group">
            <input type="text" placeholder="NAME" name="name"><br>
            <input type="text" placeholder="EMAIL" name="email"><br>
            <input type="text" placeholder="PASSWORD" name="password"><br><br>
          </div>
          <!-- input위의 아이콘 -->
          <div class="icon-group">
            <img src="{% static 'image/user.svg' %}" class="icon"><br>
            <img src="{% static 'image/mail.svg' %}" class="icon"><br>
            <img src="{% static 'image/pass.svg' %}" class="icon"><br>
          </div>
          <br>
          <div style="text-align: center;border-color: #45A685;">
            <a href="#"><button id="button" type="button">SIGN UP</button></a>
          </div>
        </div>


      </div>


      <!-- 초록 박스 -->
      <div class="green-box">
        <!-- 초록 sign up -->
        <div class="green-sign-up">
          <br><br><br><br><br><br><br><br>
          <div class="italic-title">Hello, friends!</div>
          <div class="text">Enter your personal details<br>
            and start journey with us.</div>
          <br><br>
          <div style="text-align: center;">
            <a href="#"><button id="button" type="button">SIGN UP</button></a>
          </div>
        </div>
        <!-- 초록 sign in -->
        <div class="green-sign-in">
          <br><br><br><br><br><br><br><br>
          <div class="italic-title">Welcome back!</div>
          <div class="text">To keep connected with us please<br>
            login with your personal info</div>
          <br><br>
          <div style="text-align: center;">
            <a href="#"><button id="button" type="button">SIGN IN</button></a>
          </div>
        </div>
        
      </div>




      <!-- 전체 박스 끝 -->
    </div>
  


</body>

</html>