.footer-text-eng{
    font-family: 'Manrope', sans-serif;
    color:white;
    font-size: 15px;
}
.footer-text-kor{
    font-family: 'NotoSansKR', sans-serif;  
    color:white;   
    font-size: 15px;

}
.footer-domain{
    font-size:50px;
    
}