
.chaeyeon{
    filter:opacity(.4) drop-shadow(0 0 0 rgba(222, 105, 93,1)); 
}

.sehoon{
    filter:opacity(.4) drop-shadow(0 0 0 rgb(212, 198, 90)); 
}

.jisoo{
    filter:opacity(.4) drop-shadow(0 0 0 rgba(118,188,164,1)); 
}

.jiyeong{
    filter:opacity(.4) drop-shadow(0 0 0 rgb(90, 92, 204)); 
}

.youngkwon{
    filter:opacity(.4) drop-shadow(0 0 0 rgb(206, 170, 105)); 
}

.yunhan{
    filter:opacity(.4) drop-shadow(0 0 0 rgba(118,188,164,1)); 
}

.seonyeong{
    filter:opacity(.4) drop-shadow(0 0 0 rgb(184, 149, 84)); 
}

.seongmin{
    filter:opacity(.4) drop-shadow(0 0 0 rgb(194, 167, 81)); 
}

.myeongjun{
    filter:opacity(.4) drop-shadow(0 0 0 rgb(109, 173, 84));    
}

