html {
    height: 100vh;
}

body {
    height: 4500vh;
    background: rgb(4, 8, 10);
    margin:0
}

canvas {
    z-index:1;
    position: fixed;
    left: 50%;
    top: 50%;
    width:100vw;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    margin:0 0 0 0;
    
}

.landingVideo{
    margin:0;
}

video{
    display: block;
    z-index:8;
    width:100%;
    height:100%;
    object-fit:cover;
}

