@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
 body {
	 font-family: 'Open Sans', sans-serif;
}
 .content-section--fullpage {
    z-index: 8;
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
    padding: 20% 0 0 0;
	 background: transparent;
}

 .content-section__headline-container {
	 position: relative;
}
 .content-section__headline-container span {
	 display: inline-block;
	 box-sizing: border-box;
	 padding: 0 10px;
	 font-size: 30px;
	 font-weight: 700;
     letter-spacing: 1px;
     color:white;
}
 .content-section__headline {
    z-index: 20;
	 margin: 0;
	 opacity: 0;
	 font-weight: 700;
	 color: #dde1e4;
	 text-align: center;
	 text-transform: uppercase;
}
 .scroll-indicator {
    z-index: 8;
	 position: absolute;
	 bottom: 10px;
	 display: block;
	 padding-top: 40px;
	 padding-bottom: 10px;
	 font-size: 8px;
	 text-transform: uppercase;
	 letter-spacing: 1px;
}
 