html {
    height: 100vh;
}

body {
    height: 2500vh;
    background: black;
    margin:0
}

canvas {
    z-index:1;
    position: fixed;
    left: 50%;
    top: 58%;
    width:100%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    margin:0 0 0 0;
}