body{
  font-family:  Arial;
  font-size: 16px;
  margin : 12px;
  background: #666;
  color: #fff;
  word-break: break-all;
}

h2{
  font-size: 20px;
  font-weight: normal;
}

p {
  font-size: 10px;
  font-weight: normal;
}

ul,li{
  list-style:none;
}

ul{
  overflow: hidden;
  padding: 48px;
}

ul li a{
  text-decoration: none;
  color : #000;
  background: #FFC;
  display: block;
  height : 160px;
  width: 160px;
  padding: 16px;
  margin-top : 15px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

ul li{
  margin:16px;
  float: left;
}

ul li h2{
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;

}

ul li p{
  font-family: cursive;
  font-size: 90%;
}

ul li:nth-child(even) a{
  position:relative;
  top:5px;
  background: #cfc;
}

ul li :nth-child(3n) a{
  position: relative;
  top:-5px;
  background: #CCF;
}

ul li:nth-child(5n) a{
  position: relative;
  top:-10px;
}

ul li a:hover, ul li a:focus{
  box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  transform:scale(1.25);
  position: relative;
  z-index: 5;
}