.backimg{
    position:fixed;
    width: 100%;
    height: 100vh;
    z-index: -100;
    top:0;
    right:0;
}

.backimg img{
    width: 100%;
    height: 100%;
}

.top_navbar{
    position: relative;
    width:100%;
    height:6%;
    margin:0;
    padding:0;
    display: flex;
}

.logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    font-family: 'ABeeZee', sans-serif;
    padding-top: 1%;
    width:10%;
    margin-left:45%;
    margin-right:0;
}

.logo a{
    color:#F7E461;
    text-decoration-line: none;
    transition: all 0.4s ease-in-out .1s;
}
/*#A2A4A6*/
.logo a span{
    color:black;
    text-decoration-line: none;
}

.logo a:hover{
    color:#A2A4A6;
}

.logo a span:hover{
    color: #F7E461;
}

.subnavbar_menu {
    height: 6%;
    font-size: 18px;
    position: fixed;
    right:50px;
    list-style: none;
    display: flex;
    padding-top: 2.6%;
    top: 6.5%;
    z-index: 10;
}

.subnavbar_menu li{
    padding-left:20px;
}

.subnavbar_menu li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color:black;
    text-decoration-line: none;
    transition: all 0.4s ease-in-out .1s;
    cursor: pointer;
}


.subnavbar_menu a:not(user_icon):hover{
    color: #A2A4A6;
}

.subnavbar_menu button {
    background:rgba(106, 184, 157,1);
    color: white;
    border:none;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 25px;
}

.subnavbar_menubutton:hover{
    background:#FFF;
    color:rgba(106, 184, 157,1);
  }


/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;


    /* Colores rgba(250, 203, 144, 0.5)*/
    --first-color: #ffb32f;
    --bg-color: rgba(250, 203, 144, 0.5);
    --sub-color: #fcf1b6;
    --white-color: black;


    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
/* *, ::before, ::after {
    box-sizing: border-box;
} */

#body-pd {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    z-index: 1;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* R NAV */
.r-navbar {
    position: fixed;

    top:10%;
    right: 0;
    height:65%;
    width: var(--nav--width);
    margin : 0 0 0 1rem;

    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1rem 0rem 2rem 0;
    transition: .5s;
    z-index: var(--z-fixed);
    border-radius: 30px 0px 0px 30px ;
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    opacity: 1;
    margin:  0 0 0 1rem;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: 0.70rem 0.5rem 0.70rem .80rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
    
}


.nav__link:hover {
    background-color: var(--first-color);
}

.nav__list {
    padding-left: 1rem;
    
}



.nav__icon {
    font-size: 2rem;
    margin-left: 0.14rem;
}

.nav_name {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin-right: 1.0rem;
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 8.35rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {

    transform: rotate(-90deg);
    transition: .5s;
}


#ex_file {letter-spacing: normal;
    font-size: 20px;
}

input[type="file"] { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn {
    width: 100px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 0 0 0;
    }
  
  .btn:hover {
    background-color: #ffb32f;
    box-shadow: 0px 15px 20px rgba(80, 81, 153, 0.4);
    color: #fff;
    margin : 0 0 0 0;
    transform: translateY(-3px);
  }
  
  #modal-off-btn {
      margin : 100px 0 1rem 150px;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width:100px;
      height: 50px;
      border-radius: 50px;
      background-color: #fff;
      border: none;
  }
  
  #modal-off-btn:hover{
      background-color: #ffb32f;
      color:#fff
  }

.mainBGcolor{
    width: 1.5rem;
}
