/* Common */

.widget {
  position: absolute;
  padding: 10px;
}

.container {
  display: inline-block;
  width: 50%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-board {
  position: absolute;
  width: 100%;
  height: calc(100vh - 8%);
}

.modify-btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  background-color: rgba(239, 248, 248, 0.822);
  cursor: pointer;
}

.modify-btn img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-btn {
  position: absolute;
  top: 0;
  right: -38px;
  transform: translate(-30%, -50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  background-color: rgba(236, 141, 129, 0.822);
  cursor: pointer;
}

.delete-btn img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moving-btn {
  position: absolute;
  top:100%;
  left: -2%;
  transform: translate(-30%, -50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(239, 248, 248, 0.822);
  cursor: pointer;
}

.moving-btn img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.widget-lock-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  right: 10px;
  background: url('/static/image/modify-icon.png');
  cursor: pointer;
  z-index: 50;
}


/* Finance */

.financeBoard {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 3px 3px 3px rgb(162, 214, 207);
  color: #efefef;
  border-radius: 14px;
  padding: 26px;
  user-select: none;
  min-height: 190px;
  position: absolute;
}

.financeBoard .content {
  display: none;
}

.stock-item {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.8em;
}

.stock-item strong {
  display: inline-block;
  text-align: center;
  width: 30%;
}

.stock-item div {
  display: inline-block;
  text-align: center;
  width: 68%;
}

.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.high-price {
  color: rgb(224, 58, 58);
}

.low-price {
  color: rgb(62, 132, 236);
}

.loader {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 60px);
  color: red;
  font-weight: bold;
  text-align: center;
}

.loader-spinner {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  z-index: 10;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Note */

.note {
  font-family:  Arial;
  font-size: 16px;
  margin : 12px;
  background: #666;
  color: #fff;
  word-break: break-all;
  position: absolute;
}

.note h2{
  font-size: 20px;
  font-weight: normal;
}

.note p {
  font-size: 10px;
  font-weight: normal;
}

.note a{
  text-decoration: none;
  color : #000;
  display: block;
  height : 100%;
  width: 100%;
  padding: 16px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

.note h2{
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;

}

.note p{
  font-family: cursive;
  font-size: 90%;
}

.note ul li a:hover, ul li a:focus{
  box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  transform:scale(1.25);
  position: relative;
  z-index: 5;
}

.widget-search {
  position: absolute;
}

.searching {
  display: inline-block;
  border: 4px solid #ffffff;
  background-color: transparent;
  padding-left: 14px;
}

.searching:focus {
  outline: none;
}

.searchBtn-container {
  position: absolute;
  top: 12px;
  text-align: center;
  cursor: pointer;
}

.searchBtn-container img {
  width: 70%;
  position: absolute;
}

/* D-Day */

.background {
  background-image: url('../image/dday.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius:10px;
  padding-left:30px;
  padding-right:30px;
  padding-top:50px;
  line-height:20px;
  text-align: center;
  font-family: 'BMJUA';
  font-size: 20px;
  font-weight: 50;
}

/* Timer */
.widget-timer {
  display: inline-block;
  position: absolute;
  background-color: #111111;
  box-shadow: 3px 3px 3px rgb(150, 231, 168);
  padding: 22px;
  border-radius: 14px;
  letter-spacing: 4px;
  height: 30px;
  line-height: 30px;
  font-size: 28px;
}

.widget-timer .remain-time {
  font-family: clock-font;
  font-size: 32px;
  letter-spacing: 6px;
}

/* timer2 */
.widget-timer2 {
  
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  
  box-shadow: 2px 2px 5px #999;
  padding: 5px 15px 20px 15px;
  border-radius: 14px;
  letter-spacing: 4px;
  width:auto;
  height: auto;
  line-height: 60px;
  font-size: 28px;

  font-family: 'BMJUA';
  font-size: 20px;
  letter-spacing: 6px;
}

.event2 {
  color:white;

}

.remain-time2{
  width: 30px;
  height: 50px;
  padding:0px 5px 10px 5px;
  background-color: white;
  color:#7ee8fa;
  box-shadow: 1px 1px 3px #999;
  border-radius: 10px;
  text-align:center;
  vertical-align:middle;
  display:inline-block ; 
}

@font-face {
  font-family: clock-font;
  src: url('/static/font/clock.ttf');
  
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}

