{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="{% static 'utils/widget.js' %}"></script>
  <script src="{% static 'dday/dday.js' %}"></script>
  <title>Dday</title>
</head>

<body>
  <div class="containter center-middle" id = "ddaybox" name = "ddaybox">
    <div onmouseover=ddayListShow() onmouseout=ddayListHide()>
      <h1 class="title" id="title">Dday</h1>
      <strong id="ddayName"></strong>
      <hr>
      <strong id="dday"></strong><br><br>
    </div>
    <div>
      <!-- <input type="button" id="addButton" value="d-day 추가"/> -->
      <form>
        <p>D-day 추가</p>
        <p><input type="date"></p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
  </div>


    
  

  
</body>
</html>

<style>
  .center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    display: inline-block;
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

</style>