<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="../assets/finance/finance.js"></script>
  <title>Finance</title>
</head>
<body>
  <div class="container">
    <div class="financeBoard">
      <ul class="stock-ul">
        <li class="stock-item">Hello</li>
        <li class="stock-item">World</li>
      </ul>
    </div>
  </div>
</body>
</html>

<style>
  html {
    background-color: #222222;
  }

  .container {
    display: inline-block;
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: dimgrey;
  }
</style>