{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
    <script src= "{% static 'todo/todo.js' %}" defer></script>

    <title>Todo-list</title>
</head>

<body>
    
        <div id="todolist">
            <div class="main__title">
                <h1>To do list</h1>
            </div>
        
            <div class="input__section">
                <form>
                    <div>
                        <input type = "text" class = "item" autofocus="true">
                    </div>
                    <div>
                        <button type = "button" class="input__button">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                </form>
            </div>
        
            <div class="item__list"></div>
        
        </div>
    

    
</body>
</html>