{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Do-main</title>
    <link href="{% static 'css/commons/navbar.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {% block header %}
    {% endblock %}
</head>

<body>
    <nav class="main-menu">
        
        <ul>
            <li>
                <i class="fa fa-bars" style="color:#212121;"></i>
                <span class="nav-text navbar-title"><b style="color:#F7E461;">Do</b>Main</span>
            </li>
            <li>
                <a id="to-custom" class="home">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Main
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a id="to-landing" class="landingPage">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    <span class="nav-text">
                        Introduce
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a id="to-subpage" class="subpage">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="nav-text">
                        Store
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a id="to-mypage" class="mypage">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">
                        My Page
                    </span>
                </a>
            </li>
            <li class="logout">
                <a href="{% url 'logout' %}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
            <li class="login">
                <a href="{% url 'login_view' %}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Login
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width:30%;">
            <span class="close">&times;</span>
            <p style="font-size: 17px; padding-left:10px">로그인이 필요한 서비스입니다.</p>
        </div>
    </div>
    {% block contents %}
    {% endblock %}
</body>

</html>
<script>
    const AjaxCall = (url, data, method="GET", async=false) => {
    let returnValue = "false";
    $.ajax({
        url: url,
        type: method,
        async: async,
        data: data,
        success: function(data) {
        returnValue = data;
        }
    })
    return returnValue;
    }

    URL = "/account/is-login/"
    let is_login = AjaxCall(url=URL, data=null);

    if(is_login === "true") {
        document.querySelector('.login').style.display = 'none';
    } else {
        document.querySelector('.logout').style.display = 'none';
    }

    $('a').click(function() {
        var theClass = this.className;  
    });
    
    var home_btn = document.querySelector(".home");
    var landing_btn = document.querySelector(".landingPage");
    var subpage_btn = document.querySelector(".subpage");
    var mypage_btn = document.querySelector(".mypage");
    
    var home_url = '{% url "home" %}'
    var landing_url = '{% url "landingPage" %}'
    var subpage_url = '{% url "subpage" %}'
    var mypage_url = '{% url "mypage" %}'
    
    home_btn.onclick = function(){
        if(is_login === "true"){
            document.location.href = home_url;
        }
        else{
            modal.style.display = 'block';
        }
    }
    landing_btn.onclick = function(){
        if(is_login === "true"){
            document.location.href = landing_url;
        }
        else{
            modal.style.display = 'block';
        }
    }
    subpage_btn.onclick = function(){
        if(is_login === "true"){
            document.location.href = subpage_url;
        }
        else{
            modal.style.display = 'block';
        }
    }
    mypage_btn.onclick = function(){
        if(is_login === "true"){
            document.location.href = mypage_url;
        }
        else{
            modal.style.display = 'block';
        }
    }

    
    
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
        document.location.href = "{% url 'login_view' %}"
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.location.href = "{% url 'login_view' %}"
        }
    }

</script>