{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block header %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/detailpage.css' %}">


<title>Detailpage</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=DM+Serif+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">


{% endblock %}

{% block contents %}
<div class="all">
    <div class="blank"></div>
    <!-- 왼쪽 부분 -->
    <div class="leftspace">
        <div class="widget-image">
            {% if widget.image %}
            <img src="{{ widget.image.url }}" class="big-img" alt="no image">
            {% else %}
            <img src="{% static 'image/image.png' %}" class="big-img" alt="no image">
            {% endif %}
        </div>
        <div class="widget-data">
            <!-- title과 price부분 -->
            <div class="widget-data-1">
                <!-- title -->
                <div class="widget-title">{{widget.name}}</div>
                <!-- price -->
                
            </div>

            <!-- 하트랑 다운로드버튼 부분 -->
            <div>
                <!-- smallheart -->
                        <div class="likespace">
                            <button class="heart-button" onClick="like({{widget.seq}})" >
                                {%if user in widget.like_users.all%}
                                    <p id="like">{{"♥"}}</p>
                                {%else%}
                                    <p id="like">{{"♡"}}</p>
                                {%endif%}
                            <span id="like_counting">{{widget.like_users.count}}</span>
                            </button>
                        </div>

                <!-- download button -->
                <a href="#">
                    <button id="downloadbutton" type="button" onclick="makeDownload({{widget.seq}})">&nbsp;DOWNLOAD&nbsp;</button>
                </a>
                
            </div>

        </div>

        <!-- line -->
        <hr>
        <!-- 업로드한 user의 정보 -->
        <div class="upload-info">
            <div class="profile-space">
                <!-- 프로필 내용 -->
                <div class="uploader-info">
                    <div class="profile-container">
                        <img class="profile" src="{% static 'image/anna.jpg' %}">
                    </div>
                    <div class="uploader-info-text">
                        <div style="font-size:130%; font-weight:bold;">{{widget.creater.user_name}}</div>
                    </div>
                </div>
            </div>

            <!-- 위젯의 정보 -->
            <div class="widget-info-space">
                <div class="widget-inform-left">
                    <div>Update</div>
                    <div>Category</div>
                    <div>User</div>
                </div>
                <div class="widget-inform-right">
                    <div>{{widget.create_date}}</div>
                    <div>{{widget.get_widget_type_display}}</div>
                    <div>{{widget.creater.user_name}}</div>
                </div>
            </div>
        </div>
        <hr>



        <!-- 리뷰댓글다는 부분 -->
        <div class="review-box">
            <span class="review-start">Comments</span>
            <!-- 프로필이미지 -->
            <div class="review-input-container">
                <div class="profile-container">
                    <img class="profile" src="{% static 'image/elsa.jpg' %}">
                </div>

                <!-- Comment Form -->
                <input class="comment-input" id="comment-input" type="text" name="content" placeholder="댓글을 달아주세요">
                <div class="button-container">
                    <button class="comment-button" onClick="make_comment({{widget.seq}})" type="submit">작성하기</button>
                </div>
            </div>
        </div>


        <!-- Comment List -->
        <div class="comment-list" id="comment-list">
            {% for comment in comments %}
            <div class="commentDataList{{ forloop.counter }} comment-data">
                <span class="comment-writer">{{comment.writer.user_name}}</span>
                <span class="comment-time">{{comment.time}}</span>
                <br>
                <span class="comment-content">{{comment.content}}</span>
                <button onClick="make_reply({{comment.id}}, {{ forloop.counter }})" type="submit"
                    class="reply-button">대댓글</button>
                <button onClick="showReply()">답글달기</button>
                
                <div class="reply-container">
                    <input class="reply-input" id="reply-input" type="text" name="content" placeholder="댓글을 달아주세요">
                    <div class="button-container">
                        <button class="comment-button" onClick="write_reply({{comment.id}})" type="submit">작성하기</button>
                    </div>
                </div>

            </div>
            <hr>
            {% endfor %}
        </div>
        <!-- 왼쪽 부분 끝 div태그 -->
    </div>




<!-- 오른쪽 부분:연관 위젯-->
        <div class="rightspace">
            <!-- 위젯 하나 -->
            {%for related_widget in related_widgets%}
            <a href="{% url 'detailpage' related_widget.seq %}">
                <div style="padding-bottom:3%;">
                    <!-- 썸넬이미지 -->
                    <div class="card" style="flex-direction: row;border:none;">
                        {%if related_widget.image %}
                        <img src="{{related_widget.image.url}}" class="cardimg" id="recommend-widget" alt="no image">
                        {%else%}
                        <img src="{%static 'image/anna.jpg'%}" class="cardimg" id="recommend-widget" alt="no image">
                        {%endif%}
                        <div style="line-height: 80%;">
                            <!-- title -->
                            <div class="relate-title">
                                {{related_widget.name}}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </a>
            
            {%endfor%}
            <!-- 위젯하나 끝 -->


            <!-- 오른쪽 부분 끝나는 div태그 -->
        </div>


    <br><br><br>

    <!-- all을 닫는 div태그 -->
</div>


<script>
    let today = new Date();
    let commentIndex = "{{ comments|length }}";

    function make_comment(widget_id) {
        commentIndex = commentIndex - 1;
        let body = $("#comment-input").val();


        $.ajax({
            type: "POST",
            url: "comment/write/",
            data: {
                'widget_id': widget_id,  //1
                'body': body,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            dataType: "json",
            success: function (response) {
                let div = document.createElement("div");
                let commentList = document.querySelector("#comment-list")
                console.log(response)
                div.className = `commentDataList${response.comments_length}`;
                commentList.appendChild(div)
                console.log(response.message);

                $(`.commentDataList${response.comments_length}`).append("<span class='comment-writer'>" + response.user + "</span>&nbsp;")

                $(`.commentDataList${response.comments_length}`).append("<span class='comment-time'>" + response.time + "</span><br>")

                $(`.commentDataList${response.comments_length}`).append("<span class='comment-content'>" + response.body + "</span>&nbsp")

                $(`.commentDataList${response.comments_length}`).append("<button class='reply-button' onClick=\"make_reply(`${response.id}`)\" type=\"submit\">대댓글" + "</button><hr>")

                $("#comment-input").val(' ');
                index = index + 1;
            },
            error: function (request, status, error) {
                alert(error);
            }
        })
    }
    let replyFlag = true;
    function make_reply(comment_id, index) {
        console.log()
        if (replyFlag === true) {
            $.ajax({
                type: "GET",
                url: "show/reply/",
                data: {
                    'comment_id': comment_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    console.log(response.length)
                    for (let i = 0; i < response.length; i++) {
                        $(`.commentDataList${index}`).append("<div class=\"replyData\"> &nbsp&nbsp&nbsp" + response[i].content + "</div>")
                    }
                    replyFlag = false;
                },
                error: function (request, status, error) {
                    alert(error);
                }
            })
        }
        else {
            $(".replyData").remove();
            replyFlag = true;
        }

    }

    function showReply() {
        var x = document.querySelector(".reply-container")
        
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    
    function write_reply(comment_id){
        let reply = $("#reply-input").val();
        $.ajax({
            type: "POST",
            url: "reply/write/",
            data: {
                'comment_id': comment_id,
                'reply': reply,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            dataType: "json",
            success: function (response) {
                console.log(response.message)
            },
            error: function (request, status, error) {
                alert(error);
            }
        })
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>
    function like(widget_id) {
        $.ajax({
            type: "POST",
            url: "like",
            data: {
                'widget_id': widget_id,
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            dataType: "json",
            success: function (response) {
                console.log(response.message);
                $("#like").replaceWith('<p id="like">' + response.message + '</p>')
                $("#like_counting").replaceWith('<span id="like_counting">' + response.num + '</span>');
            },
            error: function (request, status, error) {
                alert(error);
            },
        });
    }
</script>
<script>
    function makeDownload(widget_id) {
        $.ajax({
          type: "POST",
          url: "download/",
          data: {
            widget_id: widget_id,
            csrfmiddlewaretoken: "{{csrf_token}}"
          },
          dataType: "json",
          success: function(response) {
            alert(response.download_message);
          },
          error: function(request, status, error) {
            alert(error);
          }
        });
      } 
</script>
{% endblock %}

</html>