{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Do-Main</title>

  <link href="{% static 'css/landing/landingBackground.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingContent.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingNavbar.css' %}" rel="stylesheet">


</head>

<body>
    <div style="position: absolute; z-index: 4; width: 100%; height: 120%; top: -10%; background-color:black; opacity:0.3;pointer-events: none;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mkggXE5e2yk?autoplay=1&mute=1&controls=0&amp;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  <div class="sticky">
    <nav class='sticky_navbar'>
      <ul class='subnavbar_menu'>
        <li><a href='#'>
            <div id="main_icon">Do main</div>
          </a></li>
        <li><a href='#'>Sign In</a></li>
        <li><a href='#'>Sign Up</a></li>
        <li><a href='#'><button>Help</button></a></li>
      </ul>
    </nav>
  </div>
  <div class="landingContent1">
    Just <span class="specificLetter">d</span>o main
    <div class="landingSubcontent1">
      웹 페이지가 선사하는 가장 멋지고, 환상적인,<br>
      최고의 순간은 이제부터 시작입니다.
    </div>
  </div>
  <div class="landingContent2">
    sdfsf
  </div>

  <div class = "landingContent3">
    dsfsdf
  </div>

  <canvas id="apple" />

  <script src="{% static 'js/landingBackground.js' %}"></script>

</body>

</html>