{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DoMain</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'css/landing/landingBackground.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingContent.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingNavbar.css' %}" rel="stylesheet">
  <link href="{% static 'css/commons/footerSection.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/textEffect.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingService.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingVideo.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/footer.css' %}" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

<!-- Device Checker -->
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/device-checker.js' %}"></script>

</head>

<body>
  <div class="sticky">
    <nav class='sticky_navbar'>
      <ul class='subnavbar_menu'>
        <li>
            <div onclick="window.scrollTo(0,0)" id="main_icon" style="float:left; cursor: pointer;"><span style="color:#F7E461;">Do</span><span style="color: #EFEFEF;">Main</span></div>
        </li>
        <li></li>
        <li></li>
        
        <li><a href="{%url 'login_view'%}" style="float:right; padding-bottom: 0;">Start to Design !</a></li>
      </ul>
    </nav>
  </div>
  <div class="landingVideo" style="display: flex; flex-direction: row; width:100%; height:80%; z-index:4; position:absolute;">
    <div class="1-col" style="display: flex; flex-direction: column; width:40%;">
      <div class="1-1-row" style="display: flex; flex-direction: row; height: 50%;">
        <div class="1-1-row-content-1" style="width:44%; padding:0 12px 12px 0;">
          <video muted autoplay loop src="{% static 'image/landingVideo/chaeyeon.mp4' %}" type="video/ogg" class="chaeyeon">
          </video>
        </div>
        <div class="1-1-row-content-2" style="width:56%; padding:0 12px 12px 12px;">
          <video muted autoplay loop src="{% static 'image/landingVideo/sehoon.mp4' %}" type="video/ogg" class="sehoon">
          </video>
        </div>
      </div>
      <div class="1-2-row" style="display: flex; flex-direction: row; height: 50%;">
        <div class="1-2-row-content-1" style="width:58%; padding:12px 12px 12px 0;">
          <video muted autoplay loop src="{% static 'image/landingVideo/jisoo.mp4' %}" type="video/ogg" class="jisoo">
          </video>
        </div>
        <div class="1-2-row-content-2" style="width:42%; padding:12px 12px 0 12px;">
          <video muted autoplay loop src="{% static 'image/landingVideo/jiyeong.mp4' %}" type="video/ogg" class="jiyeong">
          </video>
        </div>
      </div>
    </div>
    <div class="2-col" style="display: flex; flex-direction: column; width:35%;">
      <div class="2-1-row" style="display: flex; flex-direction: row; height: 65%;">
        <div class="2-1-row-content-1" style="width:52%; padding:0 12px 12px 12px;">
          <video muted autoplay loop src="{% static 'image/landingVideo/youngkwon(2).mp4' %}" type="video/ogg" class="youngkwon">
          </video>
        </div>
        <div class="2-1-row-content-2" style="width:48%; padding:0 12px 12px 12px;">
          <video muted autoplay loop src="{% static 'image/landingVideo/yunhan.mp4' %}" type="video/ogg" class="yunhan">
          </video>
        </div>
      </div>
      <div class="2-2-row-content" style="height: 35%; padding: 12px 12px 0 12px;">
        <video muted autoplay loop src="{% static 'image/landingVideo/seonyeong(2).mp4' %}" type="video/ogg" class="seonyeong">
        </video>
      </div>
    </div>
    <div class="3-col" style="display: flex; flex-direction: column; width:25%;">
      <div class="3-1-row-content" style="height:45%; padding:0 0 12px 12px;">
        <video muted autoplay loop src="{% static 'image/landingVideo/seongmin(2).mp4' %}" type="video/ogg" class="seongmin">
        </video>
      </div>
      <div class="3-2-row-content" style="height:55%; padding:12px 0 0 12px;">
        <video muted autoplay loop src="{% static 'image/landingVideo/myeongjun(2).mp4' %}" type="video/ogg" class="myeongjun">
        </video>
      </div>
    </div>
  </div>
  <div class="landingContent1">
    Just <span class="specificLetter" style="color:#F7E461;">Do</span>Main
    <div class="landingSubcontent1">
      웹 페이지가 선사하는 가장 멋지고, 환상적인,<br>
      최고의 순간은 이제부터 시작입니다.
    </div>
  </div>

  <div class="landingContent2">
    <div class="contents">
      <div>원하는 대로 편집할 때</div>
      <div class='master-container-scroller'>
        <div class='master-container-scroller_item'>
          빛나는
        </div>
        <div class='master-container-scroller_item'>
          즐기는
        </div>
        <div class='master-container-scroller_item'>
          멋있는
        </div>
        <div class='master-container-scroller_item'>
          감각적인
        </div>
        <div class='master-container-scroller_item'>
          재미있는
        </div>
        <div class='master-container-scroller_item'>
          나만의
        </div>
        <div class='master-container-scroller_item'>
          신나는
        </div>
        <div class='master-container-scroller_item'>
          즐기는
        </div>
        <div class='master-container-scroller_item'>
          감각적인
        </div>
        <div class='master-container-scroller_item'>
          빛나는
        </div>
      </div>
      <div>모든 순간</div>
    </div>
  </div>

  <div class="landingContent3">
    페이지 안에 두뇌를 달다. <br>
    <div class="landingSubText">
      페이지 안으로 들어온
      <span class="specificLetterYellow">Sticky Note</span> 로 <br>
      기록을 콤팩트하게. <br>
      <span class="specificLetter">디데이 알림</span>으로 중요한 일을 잊지 않고
      해낼 수 있습니다.
    </div>
  </div>

  <div class="landingContent4">
    지칠 줄 모르는 다양성. <br><br>
    <div class="landingSubText">
      <span class="specificLetterYellow">Asset Store</span> 가
      매주 업데이트 됩니다. <br>
      다양한 위젯과 레이아웃을 <br>
      업로드, 다운로드할 수 있죠
    </div>
  </div>

  <div class="landingContent5">
    보지 못한 페이지를 연결하다. <br><br>
    <div class="landingSubText">
      원하는 페이지를
      <span class="specificLetterGreen">북마크</span> 로 <br>
      연결할 수 있습니다.<br>
      원하는 방식으로 페이지를 연결하는 <br>
      최적화된 방법, 색다른 경험을 제공하죠.
    </div>
  </div>

  <div class="landingContent6">
    자신만의 이야기를 새기다. <br><br>
    <div class="landingSubText">
      사용자를 위한 다양한
      <span class="specificLetterYellow">위젯 옵션</span><br>
      기록을 콤팩트하게. <br>
      텍스트, 아이콘, 이미지 조합으로 <br>
      더욱 개성있게.
    </div>
  </div>

  <div class="landingContent7">
    <div class="contents">
      Just <span class="specificLetter">D</span>o main
      <div class='master-container-scroller'>

        <div class='master-container-scroller_item'>
          D-DAY
        </div>
        <div class='master-container-scroller_item'>
          STICKY NOTE
        </div>
        <div class='master-container-scroller_item'>
          BOOKMARK
        </div>
        <div class='master-container-scroller_item'>
          NAVER
        </div>
        <div class='master-container-scroller_item'>
          TODO LIST
        </div>
        <div class='master-container-scroller_item'>
          YOUTUBE
        </div>
        <div class='master-container-scroller_item'>
          MAIL
        </div>
        <div class='master-container-scroller_item'>
          GOOGLE
        </div>
        <div class='master-container-scroller_item'>
          LAYOUT
        </div>
        <div class='master-container-scroller_item'>
          CUSTOM
        </div>
      </div>
      <div>시작해 보세요</div>
    </div>
  </div>

  <div class="footer">
    <div class="headline">
      DoMain <br>
      <button onclick="location.href='{% url 'store_main' %}'" style="font-size: 25px; width:30%">시작하기</button>
    </div>
    <br>
    <div class="row" style="margin:15% 0 0 0">
      <div class="col-2"></div>
      <div class="col-3 footer-text-eng">
      <!--왼쪽-->
        Better than<br><b>Naver</b>, <br>More suitable than<br><b>Google!</b>
        <div class="footer-domain" style="color:#F7E461;"><b>Do<div style="color:white;display:inline">Main</b></div></div>
      </div>
      <div class="col-3 footer-text-kor">
      <!--중간-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(주) IE9 ©</b><br>
        중앙대 멋쟁이사자처럼 9th<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;광고 및 제휴 문의<br>
        &nbsp;&nbsp;&nbsp;domain@domain.com
      </div>
      <div class="col-3 footer-text-kor" style="padding-left:50px;">
      <!--끝-->
        <b>Do<div style="color:#D22657;display:inline;">Main</div></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;김영권<br>
        김명준&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;박채연<br>
        서지수&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;오지영<br>
        윤선영&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이성민<br>
        인세훈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;최윤한<br>
      </div>
    </div>
  </div>

  <canvas id="apple">

  <script src="{% static 'js/landingBackgroundEffect.js' %}"></script>
  <script src="{% static 'js/sticky.js' %}"></script>

</body>

</html>
