{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Do-Main</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'css/landing/landingBackground.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingContent.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingNavbar.css' %}" rel="stylesheet">
  <link href="{% static 'css/commons/footerSection.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/textEffect.css' %}" rel="stylesheet">
  <link href="{% static 'css/landing/landingService.css' %}" rel="stylesheet">



</head>

<body>
  <!-- <div
    style="position: absolute; z-index: 4; width: 100%; height: 120%; top: -10%; background-color:black; opacity:0.3;pointer-events: none;">
    <iframe width="100%" height="100%"
      src="https://www.youtube.com/embed/mkggXE5e2yk?start=40&autoplay=1&mute=1&controls=0&amp;"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div> -->
  <div style="position: absolute; z-index: 4; width: 90%; height: 100%; color: white;">
<div class = "row">
  sdfsf
  </div>
</div>

  <div class="sticky">
    <nav class='sticky_navbar'>
      <ul class='subnavbar_menu'>
        <li><a href='#'>
            <div id="main_icon">Do main</div>
          </a></li>
        <li><a href='#'>Sign In</a></li>
        <li><a href='#'>Sign Up</a></li>
        <li><a href='#'><button>Help</button></a></li>
      </ul>
    </nav>
  </div>
  <div class="landingContent1">
    Just <span class="specificLetter">d</span>o main
    <div class="landingSubcontent1">
      웹 페이지가 선사하는 가장 멋지고, 환상적인,<br>
      최고의 순간은 이제부터 시작입니다.
    </div>
  </div>
  <div class="landingContent2">
    <div class="contents">
      <div>원하는 대로 편집할 때</div>
      <div class='master-container-scroller'>
        <div class='master-container-scroller_item'>
          빛나는
        </div>
        <div class='master-container-scroller_item'>
          즐기는
        </div>
        <div class='master-container-scroller_item'>
          멋있는
        </div>
        <div class='master-container-scroller_item'>
          감각적인
        </div>
        <div class='master-container-scroller_item'>
          재미있는
        </div>
        <div class='master-container-scroller_item'>
          나만의
        </div>
        <div class='master-container-scroller_item'>
          신나는
        </div>
        <div class='master-container-scroller_item'>
          즐기는
        </div>
        <div class='master-container-scroller_item'>
          감각적인
        </div>
        <div class='master-container-scroller_item'>
          빛나는
        </div>
      </div>
      <div>모든 순간</div>
    </div>
  </div>

  <div class="landingContent3">
    페이지 안에 두뇌를 달다. <br>
    <div class="landingSubText">
      페이지 안으로 들어온
      <span class="specificLetterYellow">Sticky Note</span> 로 <br>
      기록을 콤팩트하게. <br>
      <span class="specificLetter">디데이 알림</span>으로 중요한 일을 잊지 않고
      해낼 수 있습니다.
    </div>
  </div>

  <div class="landingContent4">
    지칠 줄 모르는 다양성. <br>
    <div class="landingSubText">
      <span class="specificLetterYellow">Asset Store</span> 가
      매주 업데이트 됩니다. <br>
      다양한 위젯과 레이아웃을 <br>
      업로드, 다운로드할 수 있죠
    </div>
  </div>

  <div class="landingContent5">
    보지 못한 페이지를 연결하다. <br>
    <div class="landingSubText">
      원하는 페이지를
      <span class="specificLetterGreen">북마크</span> 로 <br>
      연결할 수 있습니다.<br>
      원하는 방식으로 페이지를 연결하는 <br>
      최적화된 방법, 색다른 경험을 제공하죠.
    </div>
  </div>

  <div class="landingContent6">
    자신만의 이야기를 새기다. <br>
    <div class="landingSubText">
      사용자를 위한 다양한
      <span class="specificLetterYellow">위젯 옵션</span><br>
      기록을 콤팩트하게. <br>
      텍스트, 아이콘, 이미지 조합으로 <br>
      더욱 개성있게.
    </div>
  </div>

  <div class="landingContent7">
    <div class="contents">
      Just <span class="specificLetter">D</span>o main
      <div class='master-container-scroller'>

        <div class='master-container-scroller_item'>
          D-DAY
        </div>
        <div class='master-container-scroller_item'>
          STICKY NOTE
        </div>
        <div class='master-container-scroller_item'>
          BOOKMARK
        </div>
        <div class='master-container-scroller_item'>
          NAVER
        </div>
        <div class='master-container-scroller_item'>
          TODO LIST
        </div>
        <div class='master-container-scroller_item'>
          YOUTUBE
        </div>
        <div class='master-container-scroller_item'>
          MAIL
        </div>
        <div class='master-container-scroller_item'>
          GOOGLE
        </div>
        <div class='master-container-scroller_item'>
          LAYOUT
        </div>
        <div class='master-container-scroller_item'>
          CUSTOM
        </div>
      </div>
      <div>시작해 보세요</div>
    </div>
  </div>

  <div class="footer">
    <div class="headline">
      Domain <br>
      <button onclick = "location.href='{% url 'store_main' %}'" style="font-size: 25px; width:30%">시작하기</button>
    </div>
    <br>
    <div class="row" style="margin:15% 0 0 0">
      <div class = "col-2"></div>
      <div class="col-3">
        team IE9 Company <br>
        중앙대 멋쟁이사자처럼 9th
      </div>
      <div class="col-3">
        copyright(c)
      </div>
      <div class="col-3">
        (주) IE9 Company <br>
        중앙대 멋쟁이사자처럼 9th
      </div>
    </div>
  </div>

  <canvas id="apple" />

  <script src="{% static 'js/landingBackgroundEffect.js' %}"></script>
  <script src="{% static 'js/sticky.js' %}"></script>

</body>

</html>