{% extends 'base.html' %}

{% load static %}

{% block header %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/mypage/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage/profileNomalize.css' %}">

{% endblock %}

{% block contents %}
<div class="wrapper" style="padding: 0 0 0 30px;">
    <main class="main">
        <header class="header">
            <div class="header__wrapper">

            </div>
        </header>
        <section class="section sectionEffect" id="content1" style="width:80%">
            <header class="section__header">
                <h2 class="section__title">Like</h2>

            </header>
            <ul class="team" style="display: grid;grid-template-columns: 1fr; padding:5px;">
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="section sectionEffect" id="content2" style="width:80%">
            <header class="section__header">
                <h2 class="section__title">Downloads</h2>

            </header>
            <ul class="team" style="display: grid;grid-template-columns: 1fr; padding:5px;">
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                
            </ul>
        </section>
        <section class="section sectionEffect" id="content3 "style="width:80%">
            <header class="section__header">
                <h2 class="section__title">Uploads</h2>

            </header>
            <ul class="team" style="display: grid;grid-template-columns: 1fr; padding:5px;">
                <li class="team__item" style="margin-bottom: 10px;">
                    <a class="team__link focus--box-shadow" href="#" style="margin-bottom: 10px; display:grid; grid-template-columns: 1fr 1fr; ">
                        <div class="team__header">
                            <ul class="photo">
                                <li class="photo__item">
                                    <img src="{% static 'image/custompage-2.png' %}" alt="Jack's photo" />
                                </li>

                            </ul>
                        </div>
                        <div class="team__inform" style="margin:20% 0 0 40px;">
                            <p class="team__name">Purple Home</p>
                            <time class="date" datetime="2020-05-05T10:00:00">05 May, 2020</time>
                        </div>
                    </a>
                </li>
                
            </ul>
        </section>


    </main>
    <aside class="aside">
        <section class="section">
            <div class="profile-main">
                <button class="profile-main__setting focus--box-shadow" type="button">
                    <img class="profile-main__photo" src="{% static 'image/anna.jpg' %}" alt="Profile photo" />
                </button>
                <h1 class="profile-main__name">Jisoo</h1>
            </div>
            <div class="banner">
                <p class="banner__description">심플한 디자인을 좋아하는 웹개발자 입니다!</p>

            </div>
            <ul class="statistics">
                <li class="statistics__entry">
                    <a class="tablabel" href="#content1">Likes</a><span
                        class="statistics__entry-quantity">5</span>
                </li>
                <li class="statistics__entry">
                    <a class="tablabel" href="#content2">Downloads</a><span
                        class="statistics__entry-quantity">3</span>
                </li>
                <li class="statistics__entry">
                    <a class="tablabel" href="#content3">Uploads</a><span
                        class="statistics__entry-quantity">48</span>
                </li>
            </ul>

        </section>
    </aside>
</div>
{% endblock %}