{% extends 'base.html' %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/upperSubPage.css' %}">
<link rel="stylesheet" href="{% static 'css/commons/dropdown.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/subPage/tabMenuBar.css' %}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=DM+Serif+Display&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

{% endblock %}
{% block contents %}
<div class="container" id="container" style="margin: 3% 0 0 7%; width: 90%">

    <div class="row">
        <div class="col-12">
            <!-- Widget List Tab Menu
            it is composed of subtabs according to the widget style
        -->
            <input class="tabs" id="tab1" type="radio" name="tabs" checked>
            <label class="tablabel" for="tab1">TOTAL</label>
            <input class="tabs" id="tab2" type="radio" name="tabs">
            <label class="tablabel" for="tab2">LAYOUT</label>
            <input class="tabs" id="tab3" type="radio" name="tabs">
            <label class="tablabel" for="tab3">SEARCHBAR</label>
            <input class="tabs" id="tab4" type="radio" name="tabs">
            <label class="tablabel" for="tab4">D-DAY</label>
            <input class="tabs" id="tab5" type="radio" name="tabs">
            <label class="tablabel" for="tab5">NOTE</label>
            <input class="tabs" id="tab6" type="radio" name="tabs">
            <label class="tablabel" for="tab6">TIMER</label>
            <input class="tabs" id="tab7" type="radio" name="tabs">
            <label class="tablabel" for="tab7">BOOKMARK</label>


            <section class="section" id="content1">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    {% for widget in widgets %}
                    <!-- 기본 위젯카드 형식 -->
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a class="to-widget" href="{% url 'detailpage' widget.seq %}">
                                {%if widget.image %}
                                <img src="{{widget.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{widget.name}}</div>
                            </a>
                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{widget.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- 카드하나 끝 -->

            </section>

            <section class="section" id="content2">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    {% for layout in layouts %}
                    <!-- 기본 위젯카드 형식 -->
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' layout.seq %}">
                                {%if layout.image %}
                                <img src="{{layout.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}

                                <!-- 카드 타이틀 -->
                                <div class="title">{{layout.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{layout.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- 카드하나 끝 -->

            </section>

            <section class="section" id="content3">

                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    <!-- 기본 위젯카드 형식 -->
                    {% for searchbar in searchbars %}
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' searchbar.seq %}">
                                {%if searchbar.image %}
                                <img src="{{searchbar.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{searchbar.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{searchbar.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </section>

            <section class="section" id="content4">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    <!-- 기본 위젯카드 형식 -->
                    {% for dday in ddays %}
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' dday.seq %}">
                                {%if dday.image %}
                                <img src="{{dday.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{dday.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{dday.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </section>

            <section class="section" id="content5">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    <!-- 기본 위젯카드 형식 -->
                    {% for note in notes %}
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' note.seq %}">
                                {%if note.image %}
                                <img src="{{note.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{note.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{note.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </section>

            <section class="section" id="content6">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    <!-- 기본 위젯카드 형식 -->
                    {% for timer in timers %}
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' timer.seq %}">
                                {%if timer.image %}
                                <img src="{{timer.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{timer.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{timer.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </section>

            <section class="section" id="content7">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    <!-- 기본 위젯카드 형식 -->
                    {% for bookmark in bookmarks %}
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' bookmark.seq %}">
                                {%if bookmark.image %}
                                <img src="{{bookmark.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{bookmark.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{bookmark.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </section>

            <section class="section" id="content8">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="row">
                    <!-- 기본 위젯카드 형식 -->
                    {% for new in news %}
                    <div class="col">
                        <div class="card" id="cardlayout">

                            <!-- 위젯이미지 -->
                            <a href="{% url 'detailpage' new.seq %}">
                                {%if new.image %}
                                <img src="{{new.image.url}}" class="cardimg" alt="no image">
                                {%else%}
                                <img src="{%static 'image/anna.jpg'%}" class="cardimg" alt="no image">
                                {%endif%}
                                <!-- 카드 타이틀 -->
                                <div class="title">{{new.name}}</div>
                            </a>

                            <div class="like-download-space">
                                <div class="heart-button">
                                    <p id="like">♥</p>
                                    <div id="like_counting">{{new.like_users.count}}</div>
                                </div>
                                <div class="download-space">
                                    <button id="downloadbutton" type="button" onclick="makeDownload('{{widget.seq}}')">&nbsp;<b>DOWNLOAD</b>&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/cardDetailModal.js' %}"></script>

<script>
    function makeDownload(widget_id) {
        $.ajax({
          type: "POST",
          url: "/store/widget/download/",
          data: {
            widget_id: widget_id,
            csrfmiddlewaretoken: "{{csrf_token}}"
          },
          dataType: "json",
          success: function(response) {
            alert(response.download_message);
          },
          error: function(request, status, error) {
            alert(error);
          }
        });
      } 
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

{% endblock %}