<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/subpage.css">
    <link rel="stylesheet" href="../static/css/commons/card.css">
    <title>Subpage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=DM+Serif+Display&display=swap" rel="stylesheet">

</head>
<body>
    <div class="all">
    <img src="../static/image/bar.svg">
    <br><br>
    <div class="sort">
        <form>
            sort 
        <select name="sort" size="1">
            <option value="one">인기순</option>
            <option value="two">별점순</option>
            <option value="three">다운로드순</option>
            <option value="four">신규순</option>
            <option value="five">낮은 가격순</option>
            <option value="six">높은 가격순</option>
        </select>
    </form>
    </div>

    <div class="search">
        <input type="text" class="searchbox" size="30%" placeholder="   search">    
        <img src="../static/image/glasses.svg" id="glasses">
    </div>

    <br><br><br>

    <!-- 기본 위젯카드 형식 -->
    <div class="card" style="border-radius:20px;">

        <img src="../static/image/emptyheart.svg" id="heart" alt="" onclick="toggleImg()" />

        <script>
            var emptyheart="../static/image/emptyheart.svg";
            var fullheart="../static/image/fullheart.svg";

            function toggleImg() {
              if (document.getElementById("heart").getAttribute('src') === emptyheart){
                document.getElementById("heart").setAttribute('src', fullheart);
              }
              else if (document.getElementById("heart").getAttribute === fullheart){
                document.getElementById("heart").src = emptyheart;
              }
            
            }
        </script>

    <a href="#">
            <img src="../static/image/widgetimage.png" class="card-img-top" alt="..." style="border-radius:20px 20px 0px 0px;">
            
            <div class="title">Google Style Searchbar</div>
    </a> 

    <div class="shape">
        <div class="star">
            <img src="../static/image/fullstar.svg">
            <img src="../static/image/fullstar.svg">
            <img src="../static/image/fullstar.svg">
            <img src="../static/image/fullstar.svg">
            <img src="../static/image/emptystar.svg"> 
        </div>   
        <div class="text">&nbsp;&nbsp;<strong>4.1</strong> (151) &nbsp;&nbsp;|&nbsp;&nbsp;</div>
        
        <div class="smallheart">
            <img src="../static/image/smallheart.svg"></div>
            <div class="text">&nbsp;(1252)</div>
        
    </div>

    <div>
    <div class="price">$0</div>
    <div class="button"><a href="#" class="btn btn-primary" id="downloadbutton">DOWNLOAD</a></div>
    </div> 
    
    </div>
    </div>
    

</body>
</html>
