.searchbar {
    float: right;
    background-color: transparent;
    color: black;
    padding: 2px 10px;
    width: 120px;
    border: none;
    margin-top: 15px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-bottom: black solid 2px;
    transition: 0.3s;
}

.searchbar::placeholder {
    color: black;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    /* transition: 0.2s; */
}

.searchbar:focus {
    width: 300px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    border-bottom: gray solid 2px;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: black;
    text-decoration: none !important;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding-top: 5px;
    margin-right: 40px;
}