.leftspace{
    width: 75%;
    margin-right:3%;
}

.rightspace{
    width: auto;
    float: right;
}
/* carousel */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.carousel-container {
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
}

.carousel {
    width: 100%;
    height:auto;
}

.carousel-item{
    max-height:530px;
}

.carousel-item img{
    max-height:530px;
}

/* leftspace */
.widget-image{
    width:100%;
    height:530px;
}

.widget-data{
    display:flex;
    flex-direction: column;
    margin: 0 3% 0 3%;
}

.widget-data-1{
    margin-top:10px;
    width:100%;
    height:50px;
}

.widget-title{
    color:#000000;
    font-family: 'DM Serif Display', serif;
    text-decoration-line: none;
    margin-bottom:0rem;
    vertical-align:bottom;
    font-size: 30px;
    float:left;
}

.widget-pricespace{
    float:right;
    margin-right:2%
}

.widget-price{
    color:#000000;
    font-family: 'DM Serif Display', serif;
    text-decoration-line: none;
    font-size:27px;
    float:left;
}

.widget-saleprice{
    color:#D94738;
    font-family: 'DM Serif Display', serif;
    text-decoration:line-through;
    font-size:27px;
    float:left;
}

.widget-data-2{
    width:100%;
    height:50px;
}

.smallheart{
    float: left;
    width:20px;
}

#hearttext{
    color:#A2A4A6;
    font-family: 'ABeeZee', sans-serif;
    float:left;
    font-size: 18px;
}

#downloadbutton{
    border: 1px solid #F7E461;
    border-radius: 5px;
    color:black;
    width:15%;
    height:80%;
    background-color:#F7E461;
    font-family: 'ABeeZee', sans-serif;
    float:right;
    padding:5px 10px;   
    
}
.line{
    border: solid 1.2px #EDEDED;
    width:100%;
    float:left;
    margin-top: 0rem;
}
.box {
    width:75px;
    height:75px;
    border-radius: 70%;
    overflow: hidden;
    float:left;
}
.profile-space{ 
    position: absolute;
    float:left;
    width:50%;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float:left;
}
.text{
    float:left!important;
    padding-left:3%;
    font-family: 'ABeeZee', sans-serif;
    font-size:90%;
    line-height: 200%;
}
.widget-inform-left{
    float:left;
    padding-left:75%;
    position: relative;
    font-family: 'ABeeZee', sans-serif;
    color:#D94738;
    font-weight: bold;
    font-size:90%;
}
.widget-inform-right{
    float:right;
    position: relative;
    font-family: 'ABeeZee', sans-serif;
    font-size:90%;
}


.review-button{
    font-family: 'ABeeZee', sans-serif;
    float:right;
}
.delete-button{
    padding:5px 10px;
    border: 1px solid #ffffff;
    float:left;
    background-color: #ffffff;
}
.upload-button{
    padding:5px 10px;
    border: 1px solid #45A685;
    border-radius: 23px;
    color:white;
    background-color: #45A685;
    float:left;
}
::selection{
    background-color: #45A685;
}
#recommend-widget{
    width:60%;
    border-radius:10px;
    float:left;
}
@media screen and (max-width: 1200px) {
    .rightspace{
        display:none;
    }
    .leftspace{
        width:100%;
    }
}

/* rightspace */
.card{
    width:100%;
    overflow:hidden;    
}

.reply-button{
    padding:5px 10px;
    border: 1px solid #45A685;
    border-radius: 23px;
    color:white;
    background-color: #45A685;
    float:right;
}

#comment-input{
    border-top:none;
    border-left:none;
    border-right:none;
    width:10%;
    height:30px;
    margin-left:2%;
    margin-right:2%;
}

#comment-input:focus{
    outline:none;   
    
}

.review-box{
    display: flex;
    flex-direction: row;
}

.comment-button{
    width:10%;
    height:50px;
}

.comment-button button{
    border:none;
    border-radius: 10px;
    color:#ffffff;
    background-color: #45A685;
}

.all{
    margin:60px 0 0 0;
    padding:0;
    display:flex;
    flex-direction: row;
}

.blank{
    width:90px;
}