.searchbox{
    width:20%;
    height:5%;
    border-radius: 70px;
    position:absolute;
    border:1px solid #A2A4A6;
    margin-left:74%;
}
#glasses{
    position:relative;
    float:right;
    margin-top:0.5%;
    margin-right:0.4%;
}
/*  */
.carousel-layout{
    border-radius:20px;
    width:80%;
    height:40%;
}
.title{
    color:#000000;
    font-family: 'DM Serif Display', serif;
    text-decoration-line: none;
    margin-bottom:0rem;
    vertical-align:bottom;
    font-size: 240%;
    float:left;
}
.pricespace{
    float:right;
    font-size: 130%;
    padding-right: 20.5%;
    padding-top: 1%;
}
.price{
    color:#000000;
    font-family: 'DM Serif Display', serif;
    text-decoration-line: none;
    font-size:140%;
    float:left;
}
.saleprice{
    color:#D94738;
    font-family: 'DM Serif Display', serif;
    text-decoration:line-through;
    z-index:1;
    font-size:130%;
    float:left;
    padding-top:3%;

}
.smallheart{
    float: left;
    width:3%;
}
#hearttext{
    color:#A2A4A6;
    font-family: 'DM Serif Display', serif;
    float:left;
    z-index:1;
    font-size: 120%;
}
.button{
    padding-right:20%;
}
#downloadbutton{
    color:black;
    width:25%;
    height:10%;
    background-color:#F7E461;
    border-color: #F7E461;
    font-family: 'ABeeZee', sans-serif;
    z-index:2;
    float:right;
}
.line{
    border: solid 1.2px #EDEDED;
    width:80%;
    float:left;
}
.box {
    width:75px;
    height:75px;
    border-radius: 70%;
    overflow: hidden;
    float:left;
}
.profile-space{
    z-index:1;
    position: absolute;
    float:left;
    width:50%;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float:left;
}
.text{
    float:left;
    padding-left:3%;
    font-family: 'ABeeZee', sans-serif;
    font-size:90%;
    line-height: 200%;
    z-index:1;
    position:absolute;
}
.widget-inform-left{
    z-index:3;
    float:left;
    padding-left:60%;
    position: relative;
    font-family: 'ABeeZee', sans-serif;
    color:#D94738;
    font-weight: bold;
    font-size:90%;
}
.widget-inform-right{
    z-index:2;
    float:right;
    padding-right:20%;
    position: relative;
    font-family: 'ABeeZee', sans-serif;
    font-size:90%;
}
.star-point{
    z-index:1;
    float:left;
    padding-left:10%;
}
.stargraph{
    border: solid 10px #45A685;
    background-color: #45A685;
    float:left;
}